*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/shelf
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
.kotlin
fuck-my-shit-mountain/
Install-CodexTrellis.ps1
setup-android-signing.ps1
.trellis/
.codex/
.agents/skills/
keystore_base64.txt
seal-release.jks
1/
